<ng-container *ngIf="availablePlaces$ | async as availablePlaces; else loading">
  <form [formGroup]="eventForm" (ngSubmit)="submitForm()" *ngIf="event" class="row g-3">
    <div class="col-12">
      <label class="form-label" for="eventName">Event-Name</label>
      <input class="form-control" id="eventName" type="text" formControlName="name" />
    </div>
    <div class="col-md-6">
      <label class="form-label" for="startInput">Startzeit</label>
      <input class="form-control" id="startInput" type="datetime-local" formControlName="startTime" />
    </div>
    <div class="col-md-6">
      <label class="form-label" for="endInput">Endzeit</label>
      <input class="form-control" id="endInput" type="datetime-local" formControlName="endTime" />
    </div>
    <div class="col-12">
      <div class="row g-3">
      <ng-container formArrayName="places">
        <ng-container *ngFor="let selectedPlace of places.controls; let i = index">
          <div class="col-md-11 col-sd-4">
            <select class="form-select" aria-label="Ort-Auswahl" (change)="onSelect($event)">
              <option selected>Auswahl</option>
              <option *ngFor="let place of availablePlaces"
                      [value]="place.id" [disabled]="isSelectedPlace(place)">{{place.name}}</option>
            </select>
          </div>
          <div class="col-md-1 cols-sd-2">
            <button type="button" class="btn btn-primary" (click)="deletePlace(i)"><i class="bi bi-dash-circle"></i></button>
          </div>
        </ng-container>
      </ng-container>
      </div>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-primary" (click)="addPlace()"><i class="bi bi-plus-circle"></i></button>
    </div>
  </form>
</ng-container>

<ng-template #loading>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>

