<!--form class="row g-3">

  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form-->
<form [formGroup]="eventForm" (ngSubmit)="submitForm()" *ngIf="event" class="row g-3">
      <div class="col-12">
        <label class="form-label" for="eventName">Event-Name</label>
        <input class="form-control" id="eventName" type="text" formControlName="name" />
      </div>
      <div class="col-md-6">
        <label class="form-label" for="startInput">Startzeit</label>
        <input class="form-control" id="startInput" type="datetime-local" formControlName="startTime" />
      </div>
      <div class="col-md-6">
        <label class="form-label" for="endInput">Endzeit</label>
        <input class="form-control" id="endInput" type="datetime-local" formControlName="endTime" />
      </div>
</form>


<!--form *ngIf="event" class="row g-3 ep-card">
    <h5 class="col-12"><input type="text" formControlName="name" placeholder="Event-Name"></h5>
    <div class="row g-3">
      <div class="col-md-6">
        <label for="startInput">Startzeit</label>
        <input id="startInput" type="datetime-local" formControlName="startTime" />
      </div>
      <div class="col-md-6">
        <label for="endInput">Endzeit</label>
        <input id="endInput" type="datetime-local" formControlName="endTime" />
      </div>
    </div>
  <div class="row g-3">
    <div class="col-md-4">
        </div>
    <div class="col-md-8">
      <div class="card-body">
        <ep-time-select></ep-time-select>
        <ep-time-select></ep-time-select>

        put more content here...
      </div>
    </div>

  </div>
</form-->
