<ng-container *ngIf="availablePlaces$ | async as availablePlaces; else loading">
  <form [formGroup]="eventForm" (ngSubmit)="submitForm()" *ngIf="event" class="row g-3">
    <div class="col-12">
      <label class="form-label" for="eventName">Event-Name</label>
      <input class="form-control" id="eventName" type="text" formControlName="name" />
    </div>
    <div class="col-md-6">
      <label class="form-label" for="startInput">Startzeit</label>
      <input class="form-control" id="startInput" type="datetime-local" formControlName="startTime" />
    </div>
    <div class="col-md-6">
      <label class="form-label" for="endInput">Endzeit</label>
      <input class="form-control" id="endInput" type="datetime-local" formControlName="endTime" />
    </div>
    <div class="col-12">
      <div class="row g-3">
      <ng-container formArrayName="places">
        <ng-container *ngFor="let placeForm of places.controls; let i = index" >
          <!--pre>{{ placeForm.value | json }}</pre-->
          <div class="col-11 places-form-row" [formGroup]="placeForm">
            <select class="form-select" aria-label="Ort-Auswahl" (change)="onSelect($event, i)"
              formControlName="placeId">
              <option selected disabled>Auswahl</option>
              <option *ngFor="let place of availablePlaces"
                      [value]="place.id" [disabled]="isUnavailablePlace(place.id)">{{place.name}}</option>
            </select>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-primary" (click)="deletePlace(i)"><i class="bi bi-dash-circle"></i></button>
          </div>
        </ng-container>
      </ng-container>
      </div>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-primary" (click)="addPlace()" [disabled]="availablePlaces.length==places.length"><i class="bi bi-plus-circle"></i></button>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid">
      <div *ngIf="event.id==-1">Erstellen</div>
      <div *ngIf="event.id>0">Speichern</div>
    </button>
  </form>
</ng-container>

<ng-template #loading>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>

<pre>{{ eventForm.value | json }}</pre>
