<div *ngIf="event" class="ep-card">
  <div class="card-header d-flex flex-row">
    <div class="flex-grow-1">
      <h5 class="card-title col-md-8">{{event.name}}</h5>
      <div class="card-subtitle col-md-8">{{event.startTime | date: 'dd.MM.yyyy HH:mm'}} - {{event.endTime | date: 'dd.MM.yyyy HH:mm'}}</div>
    </div>
    <div class="float-end flex-shrink-0" >
      <a type="button" class="btn btn-primary" [routerLink]="['/events','edit', event.id]" routerLinkActive="active">
        <i class="bi bi-pencil"></i>
      </a>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-md-4">
      <!-- image -->
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p>Gebuchte Räume:
          <ng-container *ngFor="let place of event.places; let isLast=last">
            {{place.name}}{{isLast?'':', '}}
          </ng-container>
        </p>
      </div>
    </div>



  </div>
</div>
